{% extends "core/layout.html" %}
{% block body %}
<div class="container-fluid" id="hero-container">
    <div class="row" id="cards-row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="d-flex h-100">
            <div class="movie-card m-auto">
                <div class="movie-card-inner">
                    <!-- Background image for the card -->
                    <div class="movie-card-image" style="background-image: url('/static/core/images/mk-poster.jpg');"></div>
                    <!-- Title and Read More button -->
                    <div class="movie-card-details">
                        <h3>Movie Title 1</h3>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Add more movie cards here -->
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="d-flex h-100">
            <div class="movie-card m-auto">
                <div class="movie-card-inner">
                    <!-- Background image for the card -->
                    <div class="movie-card-image" style="background-image: url('/static/core/images/mk-poster.jpg');"></div>
                    <!-- Title and Read More button -->
                    <div class="movie-card-details">
                        <h3>Movie Title 1</h3>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="d-flex h-100">
            <div class="movie-card m-auto">
                <div class="movie-card-inner">
                    <!-- Background image for the card -->
                    <div class="movie-card-image" style="background-image: url('/static/core/images/mk-poster.jpg');"></div>
                    <!-- Title and Read More button -->
                    <div class="movie-card-details">
                        <h3>Movie Title 1</h3>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="d-flex h-100">
            <div class="movie-card m-auto">
                <div class="movie-card-inner">
                    <!-- Background image for the card -->
                    <div class="movie-card-image" style="background-image: url('/static/core/images/mk-poster.jpg');"></div>
                    <!-- Title and Read More button -->
                    <div class="movie-card-details">
                        <h3>Movie Title 1</h3>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="d-flex h-100">
            <div class="movie-card m-auto">
                <div class="movie-card-inner">
                    <!-- Background image for the card -->
                    <div class="movie-card-image" style="background-image: url('/static/core/images/mk-poster.jpg');"></div>
                    <!-- Title and Read More button -->
                    <div class="movie-card-details">
                        <h3>Movie Title 1</h3>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="d-flex h-100">
            <div class="movie-card m-auto">
                <div class="movie-card-inner">
                    <!-- Background image for the card -->
                    <div class="movie-card-image" style="background-image: url('/static/core/images/mk-poster.jpg');"></div>
                    <!-- Title and Read More button -->
                    <div class="movie-card-details">
                        <h3>Movie Title 1</h3>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
